{% extends 'base.html' %}
{% block title %}
Оформление Заказа
{% endblock %}

{% block content %}
{% load static %}
{% load user_filters %}
{% load mathfilters %}
{% if cart %}
<div class="main-content space-padding-tb-70">
    <div class="container">
        <form name="checkout" method="post" class="checkout">
            {% csrf_token %}
            <div class="cart-box-container-ver2">
                <div class="row">
                    <div class="col-md-8">
                        <h3>Личные Данные</h3>
                        <div class="row form-customer">
                            <div class="form-group col-md-12">
                                <label class=" control-label">Фамилия <span
                                        class="required text-danger">*</span></label>
                                {{ form.customer_last_name |addclass:'form-control form-account'}}
                            </div>
                            <div class="form-group col-md-12">
                                <label class=" control-label">Имя <span class="required text-danger">*</span></label>
                                {{ form.customer_first_name |addclass:'form-control form-account'}}
                            </div>
                            <div class="form-group col-md-12">
                                <label class=" control-label">Отчество</label>
                                {{ form.customer_patronymic |addclass:'form-control form-account'}}
                            </div>
                            <div class="form-group col-md-6">
                                <label class=" control-label">Email <span class="required text-danger">*</span></label>
                                {{ form.customer_email |addclass:'form-control form-account'}}
                            </div>
                            <div class="form-group col-md-6">
                                <label class=" control-label">Тлефон <span class="required text-danger">*</span></label>
                                {{ form.customer_phone |addclass:'form-control form-account'}}
                            </div>
                            <div class="form-group col-md-6">
                                <label class=" control-label">VK</label>
                                {{ form.customer_vk |addclass:'form-control form-account'}}
                            </div>
                            <div class="form-group col-md-6">
                                <label class=" control-label">Telegram</label>
                                {{ form.customer_telegram |addclass:'form-control form-account'}}
                            </div>
                        </div>
                        <h3>Способ Доставки</h3>
                        <div class="row form-customer">
                            <div class="form-check col-md-12">
                                <label class=" ver2">
                                    <input type="radio" name="shipping" value="Забрать в пункте выдачи СДЭК"
                                           class="js-show-pickup-point form-radio-input" required/>
                                    <span>Забрать в пункте выдачи СДЭК</span>
                                </label><br>
                                <label class=" ver2">
                                    <input type="radio" name="shipping" value="Курьерская доставка СДЭК"
                                           class="js-show-courier-delivery form-radio-input" required/>
                                    <span>Курьерская доставка СДЭК</span>
                                </label><br>
                                <label class=" ver2">
                                    <input type="radio" name="shipping" value="Самовывоз"
                                           class="js-show-pickup-from-the-store form-radio-input" required/>
                                    <span>Самовывоз</span>
                                </label><br>
                            </div>
                            <div class="checkout-login col-md-12">
                                <div class="form-login js-open-pickup-point">
                                    <p>
                                        Если не знаете адрес желаемого пункта выдачи, оставьте поля "Улица"
                                        и "Дом" пустыми. Наш менеджер поможет выбрать удобный для Вас пункт
                                        выдачи после оформления заказа.
                                    </p>
                                    <div class="form-group col-md-12">
                                        <label class=" control-label">Область <span
                                                class="required text-danger">*</span></label>
                                        <input type="text" id="pickup-point-region" name="pickup-point-region"
                                               class="form-control form-account">
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label class=" control-label">Населенный пункт <span
                                                class="required text-danger">*</span></label>
                                        <input type="text" id="pickup-point-city" name="pickup-point-city"
                                               class="form-control form-account">
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label class=" control-label">Улица</label>
                                        <input type="text" name="pickup-point-street" class="form-control form-account">
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label class=" control-label">Дом</label>
                                        <input type="text" name="pickup-point-house" class="form-control form-account">
                                    </div>
                                </div>
                                <div class="form-login js-open-courier-delivery">
                                    <div class="form-group col-md-12">
                                        <label class=" control-label">Область <span
                                                class="required text-danger">*</span></label>
                                        <input type="text" id="courier-delivery-region" name="courier-delivery-region"
                                               class="form-control form-account">
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label class=" control-label">Населенный пункт <span
                                                class="required text-danger">*</span></label>
                                        <input type="text" id="courier-delivery-city" name="courier-delivery-city"
                                               class="form-control form-account">
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label class=" control-label">Улица <span class="required text-danger">*</span></label>
                                        <input type="text" id="courier-delivery-street" name="courier-delivery-street"
                                               class="form-control form-account">
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label class=" control-label">Дом <span
                                                class="required text-danger">*</span></label>
                                        <input type="text" id="courier-delivery-house" name="courier-delivery-house"
                                               class="form-control form-account">
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label class=" control-label">Квартира</label>
                                        <input type="text" name="courier-delivery-flat"
                                               class="form-control form-account">
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label class=" control-label">Подъезд</label>
                                        <input type="text" name="courier-delivery-entrance"
                                               class="form-control form-account">
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label class=" control-label">Этаж</label>
                                        <input type="text" name="courier-delivery-floor"
                                               class="form-control form-account">
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label class=" control-label">Домофон</label>
                                        <input type="text" name="courier-delivery-intercom"
                                               class="form-control form-account">
                                    </div>
                                </div>
                                <div class="form-login js-open-pickup-from-the-store">
                                    <p>
                                        Вы можете забрать товар из нашего офиса по адресу<br>
                                        г. Санкт-Петербург, ул. Лидии Зверевой, д. 5к1
                                    </p>
                                </div>
                            </div>
                        </div>
                        <h3>Комментарий к заказу</h3>
                        <div class="row form-customer">
                            <div class="form-group col-md-12">
                                <textarea name="comment" rows="5" class="form-control form-note"
                                          placeholder="Примечания к вашему заказу, например, специальные примечания к доставке или предпочтительные способ и время связи с Вами для нашего менеджера"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h3>Ваш Заказ</h3>
                        <div class="cart-list">
                            <ul class="list">
                                {% for item in cart %}
                                {% with product=item.product %}
                                <li class="flex">
                                    <a href="{% url 'product_detail' product.pk %}" title="" class="cart-product-image"><img
                                            src="{{product.image6.url}}" alt="Фото"></a>
                                    <div class="text">
                                        <p class="product-name">{{product.name}}</p>
                                        <div class="quantity">x{{item.qty}}</div>
                                        <p class="product-price">{{ product.price|mul:item.qty |floatformat:2}} ₽</p>
                                    </div>
                                </li>
                                {% endwith %}
                                {% endfor %}
                            </ul>
                        </div>
                        <h3>Сумма заказа:</h3>
                        <div class="text-price">
                            <ul>
                                <li><span class="text">Стоимость товаров</span><span class="number">{{ cart.get_total_price |floatformat:2}} ₽</span>
                                </li>
                                <li>
                                    <p class="no-checkbox">
                                        После оформления заказа наш менеджер свяжется с вами для уточнения
                                        деталей по оплате и доставке товара.<br><br>
                                        Время и стоимость доставки уточняются при общении с менеджером
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <button type="submit" class="btn link-button hover-white btn-checkout">Оформить Заказ</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% else %}
<div class="main-content text-center empty-cart-content space-padding-tb-60">
    <div class="container">
        <span class="close-empty-cart"></span>
        <h3>Корзина Пуста.</h3>
        <a href="{% url 'categories' %}" class="bordersolid-2 btn-return">Продолжить покупки <span
                class="icon-arr"></span></a>
    </div>
</div>
{% endif %}
{% endblock %}
