<div class="container container-40">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <div class="menu-footer">
                <ul>
                    <li><a href="{% url 'about:our_team' %}">О Нас</a></li>
                    <li><a href="{% url 'about:contacts' %}">Контакты</a></li>
                    <li><a href="{% url 'about:payment_and_delivery' %}">Оплата И Доставка</a></li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <div class="newletter-form">
                <h3 class="footer-title text-center">Мы в социальных сетях</h3>
                <form style="text-align: center">
                    <a href="https://vk.com/sokol_delivery" title="vk"><i class="fa fa-vk"></i></a>
                </form>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
            <div class="social">
                <p>© {{ year }} Copyright SOKOL</p>
            </div>
        </div>
    </div>
</div>