{% extends 'base.html' %}
{% block title %}
Вход
{% endblock %}

{% block content %}
{% load static %}
{% load user_filters %}
<div class="main-content space-padding-tb-70">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <div class="customer-page">
                            <div class="title-page">
                                <h3>Вход</h3>
                            </div>
                            {% if form.errors %}
                            {% for field in form %}
                            {% for error in field.errors %}
                            <div class="alert alert-danger">
                                {{ error|escape }}
                            </div>
                            {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                {{ error|escape }}
                            </div>
                            {% endfor %}
                            {% endif %}
                            <form method="post" class="form-customer form-login"
                                  {% if action_url %}action="{% url action_url %}"{% endif %}>
                                {% csrf_token %}
                                {% for field in form %}
                                <div class="form-group"
                                    {% if field.field.required %}
                                    aria-required="true"
                                    {% else %}
                                    aria-required="false"
                                    {% endif %}
                                >
                                    <label for="{{ field.id_for_label }}">
                                        {{ field.label }}
                                        {% if field.field.required %}
                                        <span class="required text-danger">*</span>
                                        {% endif %}
                                    </label>
                                    <div>
                                        {{ field |addclass:'form-control form-account'  }}
                                    </div>
                                </div>
                                {% endfor %}

                                <div class="form-check">
                                    <button type="submit" class="btn-login hover-white">Войти</button>
                                    <a href="{% url 'password_reset' %}" class="lost-password">Забыли пароль?</a>
                                </div>
                            </form>
                            <span class="divider"></span>
                            <a href="{% url 'users:signup' %}" class="btn link-button create-account hover-black">Зарегистрироваться</a>
                        </div>
                    </div>
                </div>
            </div>
</div>
{% endblock %} 