{% extends 'base.html' %}
{% block title %}
Сброс Пароля
{% endblock %}

{% block content %}
{% load static %}
{% load user_filters %}

<div class="main-content space-padding-tb-70">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <div class="customer-page">
                            <div class="title-page">
                                <h3>Сброс Пароля</h3>
                            </div>
                            <form method="post" class="form-customer form-login"
                                  {% if action_url %}action="{% url action_url %}"{% endif %}>
                                {% csrf_token %}
                                {% for f in form %}
                                <div class="form-group" for="{{ f.id_for_label }}">
                                    <label for="{{ f.id_for_label }}">
                                        {{f.label}}
                                        {% if f.field.required %}
                                        <span class="required text-danger">*</span>
                                        {% endif %}
                                    </label>
                                    <div>
                                        {# {{ form.as_p }} #}
                                        {{ f|addclass:'form-control' }}
                                    </div>
                                </div>
                                {% endfor %}
                                <div class="form-check">
                                    <button type="submit" class="btn-login btn-register hover-white">Сбросить Пароль</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}