{% extends 'base.html' %}
{% block title %}
Пароль изменён
{% endblock %}

{% block content %}
{% load static %}
{% load user_filters %}

<div class="main-content space-padding-tb-70">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <div class="customer-page">
                            <div class="title-page">
                                <h3>Пароль изменён</h3>
                            </div>
                            <div class="card-header">
                                Ваш новый пароль был сохранен. Используйте его для входа
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
