{% extends 'base.html' %}
{% block title %}
Сброс Пароля завершен!
{% endblock %}

{% block content %}
{% load static %}
{% load user_filters %}

<div class="main-content space-padding-tb-70">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <div class="customer-page">
                            <div class="title-page">
                                <h3>Сброс Пароля завершен!</h3>
                            </div>
                            <div >
                                <p>Ваш новый пароль был сохранен. Используйте его для входа</p>
                            </div>
                            <hr/>
                            <a href="{% url 'login' %}" class="btn link-button create-account hover-black">Войти</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}




