{% extends 'base.html' %}
{% block title %}
Сброс Пароля
{% endblock %}

{% block content %}
{% load static %}
{% load user_filters %}

<div class="main-content space-padding-tb-70">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <div class="customer-page">
                            <div class="title-page">
                                <h3>Сброс Пароля</h3>
                            </div>
                            <div class="card-header">
                                Отправлено письмо
                            </div>
                            <div class="card-body">
                                <p>Проверьте свою почту, вам должно прийти письмо со ссылкой для восстановления пароля</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
