{% extends 'base.html' %}
{% block title %}
Категории
{% endblock %}

{% block content %}
{% load static %}
{% load mptt_tags static %}
<div class="page-heading">
    <div class="banner-heading">
        <img src="{% static 'img/headerbg.png' %}" alt="" class="img-reponsive">
        <div class="heading-content text-center">
            <div class="container container-42">
                <h1 class="page-title white">Категории</h1>
                <ul class="breadcrumb white">
                    <li><a href="{% url 'index' %}">Главная</a></li>
                    <li><a href="{% url 'categories' %}">Категории</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="product-standard product-grid">
    <div class="container container-40">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="banner-img">
                    <a class="" href="{% url 'cart:delivery-order-view' %}"><img src="{% static 'img/banner.png' %}" alt="banner"
                                              class="img-reponsive"></a>
                    <div class="banner-content">
                        <h3 class="banner-title">Помощь с покупкой из-за границы</h3>
                        <p></p>
                    </div>
                </div>
            </div>
            {% recursetree categories %}
            <div class="col-xs-12 col-sm-6 col-md-6" style="padding-bottom: 30px;">
                <div class="banner-img">
                    <a class=""
                       href="{% if not node.is_leaf_node %} {% url 'subcategories' node.slug %} {% else %}{% url 'category_products' node.slug %}{% endif %}"><img
                            src="{{ node.image.url }}"
                            alt="photo" class="img-reponsive"></a>
                    <div class="banner-content">
                        <h3 class="banner-title">{{node.title}}</h3>
                        <p></p>
                    </div>
                </div>
            </div>
            {% endrecursetree %}
        </div>
    </div>
</div>

<div class="pagination-container pagination-blog button-v text-center">
    <nav>
        <ul class="pagination">
        </ul>
    </nav>
</div>
{% endblock %}