{% extends 'base.html' %}
{% block title %}
Купить {{product.name}} — интернет магазин SOKOL
{% endblock %}

{% block content %}
{% load static %}
{% load l10n %}

<div class="container container-42">
    {% for category in product.category.all %}
    <ul class="breadcrumb">
        <li><a href="{% url 'index' %}">Главная</a></li>
        <li><a href="{% url 'categories' %}">Категории</a></li>
        {% for obj in category.get_ancestors %}
        <li><a href="{% url 'subcategories' obj.slug %}">{{ obj.title }}</a></li>
        {% endfor %}
        <li><a href="{% url 'category_products' category.slug %}">{{ category.title }}</a></li>
        <li class="active"><a href="">{{product.name}}</a></li>
    </ul>
    {% endfor %}

</div>
<div class="container">
    <div class="single-product-detail product-bundle single-product-space v3">
        <div class="row">
            <div class="col-xs-12 col-sm-5 col-md-6">
                <div class="product-images">
                    <div class="main-img js-product-slider">
                        {% if product.image1 %}
                        <a href="" class="hover-images effect"><img
                                src="{{ product.image1.url }}"
                                alt="photo" class="img-reponsive"></a>
                        {% endif %}
                        {% if product.image2 %}
                        <a href="" class="hover-images effect"><img
                                src="{{ product.image2.url }}"
                                alt="photo" class="img-reponsive"></a>
                        {% endif %}
                        {% if product.image3 %}
                        <a href="" class="hover-images effect"><img
                                src="{{ product.image3.url }}"
                                alt="photo" class="img-reponsive"></a>
                        {% endif %}
                        {% if product.image4 %}
                        <a href="" class="hover-images effect"><img
                                src="{{ product.image4.url }}"
                                alt="photo" class="img-reponsive"></a>
                        {% endif %}
                    </div>
                    {% if product.link_to_a_video%}
                    <div class="cosre-btn">
                        <div class="btn-video">
                            <a href="{{product.link_to_a_video}}">ПРИКИНЬ, ДАЖЕ ВИДЕО ЕСТЬ!</a>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="multiple-img-list-ver2 js-click-product">
                    {% if product.image1 %}
                    <div class="product-col">
                        <div class="img active">
                            <img
                                    src="{{ product.image1.url }}"
                                    alt="photo" class="img-reponsive">
                        </div>
                    </div>
                    {% endif %}
                    {% if product.image2 %}
                    <div class="product-col">
                        <div class="img active">
                            <img
                                    src="{{ product.image2.url }}"
                                    alt="photo" class="img-reponsive">
                        </div>
                    </div>
                    {% endif %}
                    {% if product.image3 %}
                    <div class="product-col">
                        <div class="img active">
                            <img
                                    src="{{ product.image3.url }}"
                                    alt="photo" class="img-reponsive">
                        </div>
                    </div>
                    {% endif %}
                    {% if product.image4 %}
                    <div class="product-col">
                        <div class="img active">
                            <img
                                    src="{{ product.image4.url }}"
                                    alt="photo" class="img-reponsive">
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-xs-12 col-sm-7 col-md-6">
                <div class="single-product-info">
                    <h3 class="product-title"><a href="#">{{product.name}}</a></h3>
                    <div class="product-price">
                        <span>{{product.price |floatformat:2}}₽</span>
                    </div>
                    {% if product.description %}
                    <p class="product-desc" style="white-space: pre-wrap;">{{product.description |truncatechars:90}}</p>
                    <a class="product-desc" href="{% url 'product_detail' product.pk %}#dscrptn">Перейти к описанию</a>
                    {% endif %}
                    <div class="action v6">
                        {% if product.items_left < 1 %}
                        <button type="button" value="" class="link-ver1 add-cart">
                            ОТСУТСТВУЕТ
                        </button>
                        {% else %}
                        {% if in_cart == False %}
                        <button type="button" id="add-button" value=" {{ product.pk }} " class="link-ver1 add-cart">
                            ДОБАВИТЬ В КОРЗИНУ
                        </button>
                        {% else %}
                        <button type="button" class="link-ver1 add-cart">
                            В КОРЗИНЕ
                        </button>
                        {% endif %}
                        {% endif %}
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="dscrptn"></div>
    <div class="single-product-tab">
        <ul class="nav nav-tabs nav-space text-center">
            <li class="active"><a data-toggle="pill" href="#desc">Описание</a></li>
            <li><a data-toggle="pill" href="#info">Характеристики</a></li>
        </ul>
        <div class="tab-content">
            <div id="desc" class="tab-pane fade in active">
                <div class="img">
                    {% if product.image5 %}
                    <a href="" class=""><img
                            src="{{ product.image5.url }}"
                            alt="photo" class="img-reponsive">
                    </a>
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col-xs-12 ">
                        <p class="product-desc" style="white-space: pre-wrap; ">{{product.description }}</p>
                    </div>
                </div>
            </div>
            <div id="info" class="tab-pane fade in">
                {% if product.product_type %}
                Тип товара : {{product.product_type }}<br/>
                {% endif %}

                {% if product.compatibility %}
                Совместимость : {{product.compatibility }}<br/>
                {% endif %}
                {% if product.thread_type %}
                Тип резьбы : {{product.thread_type }}<br/>
                {% endif %}
                {% if product.mounting_type %}
                Тип крепления : {{product.mounting_type }}<br/>
                {% endif %}
                {% if product.imitation_of_a_shot is not None %}
                Имитация выстрела :
                {% if product.imitation_of_a_shot is True%}
                Да<br/>
                {% else %}
                Нет<br/>
                {% endif %}
                {% endif %}
                {% if product.laser_sight is not None %}
                С ЛЦУ :
                {% if product.laser_sight is True%}
                Да<br/>
                {% else %}
                Нет<br/>
                {% endif %}
                {% endif %}
                {% if product.weight %}
                Вес : {{product.weight |unlocalize}} гр.<br/>
                {% endif %}
                {% if product.principle_of_operation %}
                Принцип действия : {{product.principle_of_operation }}<br/>
                {% endif %}
                {% if product.length %}
                Длина : {{product.length }} мм<br/>
                {% endif %}
                {% if product.diameter %}
                Диаметр : {{product.diameter |unlocalize}} мм<br/>
                {% endif %}
                {% if product.gearbox %}
                Гирбокс : {{product.gearbox }}<br/>
                {% endif %}

            </div>
        </div>
    </div>
</div>
<div class="information">
</div>

{% include 'products/includes/bestsellers.html' %}

<script>
    $(document).on('click', '#add-button', function (e) {
        e.preventDefault();

        $.ajax({
            type: 'POST',
            url: '{% url "cart:add-to-cart" %}',
            data: {
                product_id: $('#add-button').val(),
                product_qty: 1,
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },
            success: function (response) {
                document.getElementById('lblCartCount').textContent = response.qty
                const add_button = document.getElementById('add-button')
                add_button.innerText = "В КОРЗИНЕ"


            },
            error: function (error) {
                console.log(error)
            }
        })

    })

</script>

{% endblock %}